;(function(undefined) {
	'use strict';

	var config = { pageId: ${pageId}, resourceName: '${resourceName}',
		baseUrl: '${baseUrl}', contextPath: '${contextPath}', appName: '${applicationName}',
		port: ${port}, securePort: ${securePort}, filterPrefix: '${filterPrefix}', sessionId: '${sessionId}' };
	Wicket.WebSocket.createDefaultConnection(config);
})();
